<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Name</key>
			<string>New Scene Name:</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>The name of the scene to create</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>The name of entity to display in table</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
			<key>Name</key>
			<string>Entity Name:</string>
			<key>Identifier</key>
			<string>entityName</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>static</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>View Controller Name:</string>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Description</key>
			<string>The view controller name</string>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___Controller</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>static</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>View Name:</string>
			<key>Identifier</key>
			<string>viewName</string>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___View</string>
			<key>Description</key>
			<string>The view name</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>static</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Data source Name:</string>
			<key>Identifier</key>
			<string>dataSource</string>
			<key>Default</key>
			<string>___VARIABLE_entityName:identifier___sDataSource</string>
			<key>Description</key>
			<string>The Data Source class name</string>
		</dict>
	</array>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Apple MVC Controller With List</string>
	<key>Summary</key>
	<string>Apple MVC Controller With List</string>
	<key>SortOrder</key>
	<string>0</string>
	<key>DefaultCompletionName</key>
	<string>MyScene</string>
</dict>
</plist>
